<div class="container">
    <div class="topimg">
        <h1>INSURANCES</h1>
    </div>
    <div class="content">
        <h1>THIS IS THE PERFECT TIME TO JOIN OUR GROWING FAMILY</h1>
        <p>Accurate Diagnostic Labs is a healthcare company that seeks to establish industry-leading positions in large service oriented business. Accurate Diagnostic Laboratories is NJ’s largest and
             fastest growing independently owned clinical laboratory over the last 15 years, which provides diagnostic testing to physician offices, hospitals, and clinics, among others, and applies 
             cutting edge technologies to make efficient clinical diagnostic testing and 
            interpretation available for physicians throughout NJ, NY, PA, DE, MD, VA. Come join our team and become part of something big, by making our patients and customers the highest priority.</p>
<!-- ------------------------------------------------------------------------- -->
        <div class="carddetail">
            <div class="column">
           <div class="dcontent">
            <button type="button" (click)="onclicks1()" class="dbutton">
                <h4>Specimen Processor</h4>
                <i class="fa-solid fa-caret-right"></i>
                <i class="fa-solid fa-caret-down"></i>
               </button>
               <ng-container class="hdetails" id="hdetails" *ngIf="visibles1" >
                <p>Processors are our front line in the Labs. They are indispensable participants at the entry point of a specimen testing. Their ability to quickly identify, label and troubleshoot ensures minimal disruption to our high volume specimen testing processes.</p>
                <button type="button" class="subbutton" (click)="onclick1()"><i class="fa-solid fa-caret-down"></i><i class="fa-solid fa-caret-left"></i><h3>Position Responsibilities</h3></button>
                <ng-container class="subhdetail"  *ngIf="visible1">
                    <p>Duties may include but are not necessarily limited to the following:</p>
                    <ul>
                        <li>Receive, identify, label, and process specimens as required for histologic, cytologic, and / or esoteric processing.This includes all labeling of specimen containers, slide(s), and any other materials submitted by the client.</li>
                        <li>Ability to handle all specimen types including leaks.</li>
                        <li>Multi - task between different types of requisitions. (i.e.Orchard Copia, manual, EMR etc.)</li>
                        <li>Maintain departmental production goals to ensure hourly specimen flow to the labs are consistent.Must meet a minimum of 28 - 35 cases per hour.</li>
                        <li>Review, transcribe, and enter demographic and specimen data into the laboratory information system with 100 % accuracy.</li>
                        <li>Recognize specimen problems and refer to designated personnel.</li>
                        <li>Prepare specimen work lists as needed for tracking purposes.</li>
                        <li>File Requisition Slips, glass slides, and paraffin blocks assisting Laboratory Aide(s) as needed.</li>
                        <li>Perform supply maintenance and clean - up duties to help workflow and efficiency.</li>
                    </ul>
                </ng-container>
                <button type="button" class="subbutton" (click)="onclick2()"><i class="fa-solid fa-caret-down"></i><i class="fa-solid fa-caret-left"></i><h4>Minimum Qualifications</h4></button>
                <ng-container class="subhdetail" *ngIf="visible2">
                    <ul>
                        <li>High School diploma or equivalent.</li>
                        <li>Able to type a minimum of 45 WPM.</li>
                        <li>Ability to read, write and speak English fluently.</li>
                    </ul>
                </ng-container>
                <button type="button" class="subbutton" (click)="onclick3()"><i class="fa-solid fa-caret-down"></i><i class="fa-solid fa-caret-left"></i><h4>Preferred Qualifications</h4></button>
                <ng-container class="subhdetail"  *ngIf="visible3">
                    <p>Duties may include but are not necessarily limited to the following:</p>
                    <ul>
                        <li>Prior Lab and / or Processing experience</li>
                        <li>College degree in Science(AS or BS whether in progress or completed) Physical Demands:</li>
                        <li>Ability to sit for 8 hours.</li>
                        <li>Responsible for lifting, carrying, pushing, and pulling object.</li>
                     </ul>
                </ng-container>
                <button type="button" class="subbutton" (click)="onclick4()"><i class="fa-solid fa-caret-down"></i><i class="fa-solid fa-caret-left"></i><h4>Working Conditions</h4></button>
                <ng-container class="subhdetail"  *ngIf="visible4">
                    <p>Duties may include but are not necessarily limited to the following:</p>
                    <ul>
                        <li>Work requires contact with specimens and requisitions, hand washing and cleaning, biohazardous body fluids, and hazardous chemicals.</li>
                        <li>Fast paced and noisy environment that sometimes includes interruptions and distractions.</li>
                        <li>OSHA risk factor: Category 1. Accurate Diagnostic Laboratories is an Equal Opportunity Employer.FT / PT: Full - time</li>
                    </ul>
                </ng-container>
               </ng-container>
           </div>
           <!--div2  -->
           <div class="dcontent">
            <button type="button" (click)="onclicks2()" class="dbutton">
                <h4>Medical Specimen Courier</h4>
                <i class="fa-solid fa-caret-right"></i>
                <i class="fa-solid fa-caret-down"></i>
               </button>
               <ng-container class="hdetails" id="hdetails" *ngIf="visibles2" >
                <p>The position of Medical Specimen Courier is to follow a scheduled route of stops for laboratory clients with pick up and delivery of specimens and supplies.</p>
                <button type="button" class="subbutton" (click)="onclick1()"><i class="fa-solid fa-caret-down"></i><i class="fa-solid fa-caret-left"></i><h3>Position Responsibilities</h3></button>
                <ng-container class="subhdetail"  *ngIf="visible1">
                    <p>Duties may include but are not necessarily limited to the following:</p>
                    <ul>
                        <li>Drive a non / commercial vehicle throughout the shift on various roads and in varying weather conditions</li>
                        <li>Safely transport lab specimens, medical records, supplies, interoffice mail, and related material in a timely manner</li>
                        <li>Demonstrate safe and courteous driving behavior</li>
                        <li>Operate a hand - held scanning device to accurately track items through the transportation cycle</li>
                        <li>Strictly observe operating policies, procedures and service schedules</li>
                        <li>Present a professional image to clients and the public through appearance and interaction.</li>
                        <li>Conduct pre / post trip vehicle inspections and maintain a clean, neat, and orderly vehicle.</li>
                    
                    </ul>
                </ng-container>
                <button type="button" class="subbutton" (click)="onclick2()"><i class="fa-solid fa-caret-down"></i><i class="fa-solid fa-caret-left"></i><h4>Minimum Qualifications</h4></button>
                <ng-container class="subhdetail" *ngIf="visible2">
                    <ul>
                        <li>High School diploma or equivalent.</li>
                        <li>Ability to read, write and speak English fluently.</li>
                        <li>A valid driver's license and clean driving history (No violations in the past year, No more than two moving violations in the past 36 months)</li>
                        <li>Have at least 4 years of licensed driving experience and possess a valid driver's license issued in the state of residence</li>
                        <li>Successfully pass pre - employment(post offer) drug screen, MVR and background check Preferred Qualifications</li>
                        <li>Strong customer service and interpersonal skills</li>
                        <li>Relevant industry / driving experience</li>
                        <li>Ability to determine efficient routing between multiple points</li>
                    </ul>
                </ng-container>
                <button type="button" class="subbutton" (click)="onclick3()"><i class="fa-solid fa-caret-down"></i><i class="fa-solid fa-caret-left"></i><h4>Preferred Qualifications</h4></button>
                <ng-container class="subhdetail"  *ngIf="visible3">
                    <p>Duties may include but are not necessarily limited to the following:</p>
                    <ul>
                        <li>Extended periods of driving</li>
                        <li>Frequent standing, walking</li>
                        <li>Ability to bend, twist, squat, climb stairwells</li>
                        <li>Must be able to lift and maneuver a minimum of 55 lbs</li>
                     </ul>
                </ng-container>
                <button type="button" class="subbutton" (click)="onclick4()"><i class="fa-solid fa-caret-down"></i><i class="fa-solid fa-caret-left"></i><h4>Working Conditions</h4></button>
                <ng-container class="subhdetail"  *ngIf="visible4">
                    <p>Duties may include but are not necessarily limited to the following:</p>
                    <ul>
                        <li>Work requires contact with specimens and requisitions, hand washing and cleaning, biohazardous body fluids, and hazardous chemicals.</li>
                        <li>OSHA risk factor: Category 1. Accurate Diagnostic Laboratories is an Equal Opportunity Employer.FT / PT: Full - time</li>
                    </ul>
                </ng-container>
               </ng-container>
           </div>
           <!-- div3 -->
           <div class="dcontent">
            <button type="button" (click)="onclicks3()" class="dbutton">
                <h4>Specimen Processing Supervisor</h4>
                <i class="fa-solid fa-caret-right"></i>
                <i class="fa-solid fa-caret-down"></i>
               </button>
               <ng-container class="hdetails" id="hdetails" *ngIf="visibles3" >
                <p>Processors are our front line in the Labs. They are indispensable participants at the entry point of a specimen testing. Their ability to quickly identify, label and troubleshoot ensures minimal disruption to our high volume specimen testing processes. The Processing Supervisor is responsible for the overseeing following activities: training of all personnel, all daily operations of Specimen Processing, Ensure all Compliance Policies are followed, low error rate, and productivity within company standards. Ensure maintenance of a safe, ergonomically sound, professional environment.</p>
                <button type="button" class="subbutton" (click)="onclick1()"><i class="fa-solid fa-caret-down"></i><i class="fa-solid fa-caret-left"></i><h3>Position Responsibilities</h3></button>
                <ng-container class="subhdetail"  *ngIf="visible1">
                    <p>Duties may include but are not necessarily limited to the following:</p>
                    <ul>
                        <li>Responsible for managing daily operations of departments</li>
                        <li>Oversee safety, ergonomics, maintenance, and cleanliness of department(including upgrades, repairs, etc)</li>
                        <li>Oversee implementation of SOPs for Specimen Processing in accordance with company policy</li>
                        <li>Oversee / Ensure all processing documentation is complete and reviewed as required.</li>
                        <li>Ensure Specimen workflow from logistics meets the needs of the department</li>
                        <li>Monitor Special Handling of identified Clients, to ensure irreplaceable patient samples are not mishandled specimens/orders.</li>
                        <li>Must be able to establish a positive work environment that actively encourages and supports employee involvement</li>
                        <li>Hold regularly scheduled staff meetings.</li>
                        <li>Track / enter time/attendance of employees.</li>
                        <li>Prepare month - end reports.</li>
                        <li>Investigates / resolves and responds to client complaints.</li>
                        <li>Monitor schedules to ensure minimal overtime for employees.</li>
                        <li>Identify, develop and implement process improvement plans.</li>
                        <li>Responsible for training and development of staff.</li>
                        <li>Monitor on - going performance of employees; provide corrective action and counseling as required.</li>
                        <li>Effectively work with internal departments to resolve problems.Must have interpersonal skills to gain cooperation with other departments, and foster continuous improvements.</li>
                        <li>Any / All other projects as assigned by management.</li>
                    </ul>
                </ng-container>
                <button type="button" class="subbutton" (click)="onclick2()"><i class="fa-solid fa-caret-down"></i><i class="fa-solid fa-caret-left"></i><h4>Minimum Qualifications</h4></button>
                <ng-container class="subhdetail" *ngIf="visible2">
                    <ul>
                        <li>High School diploma or equivalent.</li>
                        <li>Able to type a minimum of 45 WPM.</li>
                        <li>Ability to read, write and speak English fluently.</li>
                        <li>At least two years supervisory experience in fast paced clinical lab setting</li>
                        <li>Computer skills, MS Office applications</li>
                        <li>Medical or production background preferred.</li>
                        <li>The ability to effectively work with internal departments to resolve problems.Must have interpersonal skills and foster continuous improvements.</li>
                        <li>Must be flexible and available based on staffing requirements, weekends, and holidays, on call and long hours.</li>
                        <li>Demonstrate excellent organizational, communication, and interpersonal skills, and is able to manage client and employee concerns in a professional manner.</li>
                        <li>Exercise consistent sound judgment.</li>
                        <li>Capable of handling multiple priorities in a high volume setting.</li>
                        <li>Able to organize projects within the processing department and with cross functional departments.</li>
                    </ul>
                </ng-container>
                <button type="button" class="subbutton" (click)="onclick3()"><i class="fa-solid fa-caret-down"></i><i class="fa-solid fa-caret-left"></i><h4>Preferred Qualifications</h4></button>
                <ng-container class="subhdetail"  *ngIf="visible3">
        
                    <ul>
                        <li>Work requires contact with specimens and requisitions, hand washing and cleaning, biohazardous body fluids, and hazardous chemicals.</li>
                        <li>Fast paced and noisy environment that sometimes includes interruptions and distractions.</li>
                        <li>OSHA risk factor: Category 1. Accurate Diagnostic Laboratories is an Equal Opportunity Employer.FT / PT: Full - time</li>
            
                     </ul>
                </ng-container>
                
               </ng-container>
           </div></div>
           <div class="column">
           <!-- div4 -->
           <div class="dcontent">
            <button type="button" (click)="onclicks4()" class="dbutton">
                <h4>Medical Technologist</h4>
                <i class="fa-solid fa-caret-right"></i>
                <i class="fa-solid fa-caret-down"></i>
               </button>
               <ng-container class="hdetails" id="hdetails" *ngIf="visibles4" >
                <p>The Medical Technologist performs all laboratory procedures in a prompt, accurate, and reliable manner according to established company and departmental policies and procedures.</p>
                <button type="button" class="subbutton" (click)="onclick1()"><i class="fa-solid fa-caret-down"></i><i class="fa-solid fa-caret-left"></i><h3>Position Responsibilities</h3></button>
                <ng-container class="subhdetail"  *ngIf="visible1">
                    <p>Duties may include but are not necessarily limited to the following:</p>
                    <ul>
                        <li>Maintain standards in routine & STAT testing.</li>
                        <li>Complete work in a timely manner.</li>
                        <li>Write legibly when documenting QC, problems or information.</li>
                        <li>Maintain a clean & safe work environment.</li>
                        <li>Review communication logs.</li>
                        <li>Prepare for shift by gathering needed supplies, i.e.reagents plates.</li>
                        <li>Perform and document required maintenance on equipment.</li>
                        <li>Review calibration & QC prior to testing/resulting.</li>
                        <li>Perform calibrations and quality control as needed.</li>
                        <li>Review results before releasing.</li>
                        <li>Review pending tests at the end of shift.</li>
                        <li>Follow repeat protocol.</li>
                        <li>Review Check Sheets.</li>
                        <li>Perform duties in independent manner with /without direct supervision.</li>
                        <li>Inform supervisor of supply inventory.</li>
                        <li>Understand all laboratory policies and procedures.</li>
                        <li>Date and initial reagents that are put "in use".</li>
                        <li>Can read and interpret a curve.</li>
                        <li>Can read and understand a Levy - Jennings Chart</li>
                    
                    </ul>
                </ng-container>
                <button type="button" class="subbutton" (click)="onclick2()"><i class="fa-solid fa-caret-down"></i><i class="fa-solid fa-caret-left"></i><h4>Preferred Qualifications</h4></button>
                <ng-container class="subhdetail" *ngIf="visible2">
                    <ul>
                        <li>Bachelor of Science Degree in Medical Technology, Chemistry, Biology, or Related life Science.</li>
                        <li>State Licensure(if applicable)</li>
                        <li>Mathematical, Computer, Reasoning, and Language Skills at the College Level(2 years)</li>
                        <li>1 or more years of experience.</li>
                        <li>ASCP or other national certification Work Environment is a plus</li>
                        <li>Medium work of lifting up to 50 pounds and / or carrying objects weighing up to 25 pounds.</li>
                        <li>Responsible for lifting, carrying, pushing, and pulling objects.</li>
                        
                    </ul>
                </ng-container>
                <button type="button" class="subbutton" (click)="onclick3()"><i class="fa-solid fa-caret-down"></i><i class="fa-solid fa-caret-left"></i><h4>Working Conditions</h4></button>
                <ng-container class="subhdetail"  *ngIf="visible3">
                    
                    <ul>
                        <li>Work requires contact with specimens and requisitions, hand washing and cleaning, biohazardous body fluids, and hazardous chemicals.</li>
                        <li>Fast paced and noisy environment that sometimes includes interruptions and distractions.</li>
                        <li>OSHA risk factor: Category 1. Accurate Diagnostic Laboratories is an Equal Opportunity Employer.FT / PT: Full - time</li>
                       
                     </ul>
                </ng-container>
                <button type="button" class="subbutton" (click)="onclick4()"><i class="fa-solid fa-caret-down"></i><i class="fa-solid fa-caret-left"></i><h4>Working Conditions</h4></button>
                <ng-container class="subhdetail"  *ngIf="visible4">
                    <p>Duties may include but are not necessarily limited to the following:</p>
                    <ul>
                        <li>Work requires contact with specimens and requisitions, hand washing and cleaning, biohazardous body fluids, and hazardous chemicals.</li>
                        <li>OSHA risk factor: Category 1. Accurate Diagnostic Laboratories is an Equal Opportunity Employer.FT / PT: Full - time</li>
                    </ul>
                </ng-container>
               </ng-container>
           </div>
           <!-- div5 -->
           <div class="dcontent">
            <button type="button" (click)="onclicks5()" class="dbutton">
                <h4>Phlebotomist</h4>
                <i class="fa-solid fa-caret-right"></i>
                <i class="fa-solid fa-caret-down"></i>
               </button>
               <ng-container class="hdetails" id="hdetails" *ngIf="visibles5" >
                <p>We are looking for a Phlebotomist(40 hours per week) in our draw stations throughout NJ, NY, PA.</p>
                <p><span>Schedule:</span>Dependent on office location and responsibilities</p>
                <button type="button" class="subbutton" (click)="onclick1()"><i class="fa-solid fa-caret-down"></i><i class="fa-solid fa-caret-left"></i><h3>Position Responsibilities</h3></button>
                <ng-container class="subhdetail"  *ngIf="visible1">
                    <p>Duties may include but are not necessarily limited to the following:</p>
                    <ul>
                        <li>Venipuncture collection of specimens according to established procedures.</li>
                        <li>Research test / client information, confirm and verify all written and electronic orders by utilizing lab technology systems or directory of services.</li>
                        <li>Responsible for completing all data entry requirements accurately including data entry of patient demographics; entry of test order from requisition or pulling order from database; managing Standing Orders.</li>
                        <li>Enter billing information and collect payments when required, including the safeguarding of assets and credit card information.</li>
                        <li>Maintains phlebotomy area</li>
                        <li>Maintains supply inventory</li>
                        <li>Perform verification of patient demographic info / initials including patient signature post - venipuncture to verify tubes were labeled in their presence and that the name on the label is correct & centrifuging the blood specimens.</li>
                        <li>Read, understand and comply with departmental policies, protocols and procedures: (i.e.Procedure Manuals, Safety Manual, Compliance Manual, and Procedures, Employee Handbook) and ensure that all you follow instructions.</li>
                        <li>Responsible to follow our Time Clock Policy</li>
                        <li>Maintain compliance with all company policies and procedures</li>
                        <li>Knowledge of Medical Necessity and ICD - 10 coding</li>
                        <li>Functions as client service support for all company needs</li>
                        <li>Able to use a computer and troubleshoot if needed</li>
                        <li>Support training for covering or new phlebotomists</li>
                        <li>Other duties as assigned</li>
                    
                    </ul>
                </ng-container>
                <button type="button" class="subbutton" (click)="onclick2()"><i class="fa-solid fa-caret-down"></i><i class="fa-solid fa-caret-left"></i><h4>Minimum Qualifications</h4></button>
                <ng-container class="subhdetail" *ngIf="visible2">
                    <ul>
                        <li>Excellent verbal and written communication skills and must be able to effectively communicate with internal and external customers</li>
                        <li>Ability to provide quality, error free work in a fast-paced environment.</li>
                        <li>Ability to work independently with minimal on-site supervision.</li>
                        <li>Excellent phlebotomy skills to include pediatric and geriatric.</li>
                        <li>Flexible and available based on staffing needs, which includes weekends, holidays, on-call and overtime.</li>
                        <li>High School diploma or GED required, Phlebotomy Certificate required.</li>
                        <li>Must have reliable transportation</li>
                    </ul>
                </ng-container>
                <button type="button" class="subbutton" (click)="onclick3()"><i class="fa-solid fa-caret-down"></i><i class="fa-solid fa-caret-left"></i><h4>Physical Requirements</h4></button>
                <ng-container class="subhdetail"  *ngIf="visible3">
                        <ul>
                        <li>Extended periods of driving</li>
                        <li>Frequent standing, walking</li>
                        <li>Ability to bend, twist, squat, climb stairwells</li>
                        <li>Must be able to lift and maneuver a minimum of 55 lbs</li>
                     </ul>
                </ng-container>
                <button type="button" class="subbutton" (click)="onclick4()"><i class="fa-solid fa-caret-down"></i><i class="fa-solid fa-caret-left"></i><h4>Working Conditions</h4></button>
                <ng-container class="subhdetail"  *ngIf="visible4">
                        <ul>
                        <li>Work requires contact with specimens and requisitions, hand washing and cleaning, biohazardous body fluids, and hazardous chemicals.</li>
                        <li>Must be able to lift and carry 50 lbs.</li>
                        <li>OSHA risk factor: Category 1. Accurate Diagnostic Laboratories is an Equal Opportunity Employer.FT / PT: Full - time</li>
                    </ul>
                </ng-container>
               </ng-container>
           </div></div>
        </div>
<!-- --------------------------------------------------------------------------------------- -->
        <div class="light">
            <h2>
                ACCURATE DIAGNOSTIC LABS, INC.​ IS A FAST GROWING REGIONAL CLINICAL LABORATORY SERVING THE OUTPATIENT PHYSICIAN OFFICE MARKET
            </h2>
            <h4><p>
                WE HAVE A VERY DYNAMIC TEAM THAT IS COMMITTED TO MAKING ADL ONE OF THE LEADING PLAYERS IN THE OUTPATIENT DIAGNOSTIC TEST MARKET.
            </p></h4>
        </div>
        <div class="list">
            <h2>ACCURATE DIAGNOSTIC LABS HAS SEVERAL OPEN POSITIONS IN THE FOLLOWING CATEGORIES:</h2>
            <div class="lists">
                <ul>
                    <li>Histopathology</li>
                    <li>Cytopathology</li>
                    <li>Phlebotomist</li>
                    <li>IT Information Technology</li>
                </ul>
                <ul>
                <li>Specimen Processing</li>
                <li>Lab Aid</li>
                <li>Laboratory Technologist (2nd, 3rd Shift)</li>
                <li>Laboratory Technologist (Weekends)</li>
            </ul>
            <ul>
                <li>Billing Representatives</li>
                <li>Customer Service Representatives</li>
                <li>Billing Supervisor(s)</li>
                <li>Sales Representative</li>
            </ul>
            </div>
        </div>
        <div class="job">
            <h2>ACCURATE DIAGNOSTIC LABS OPEN POSITIONS AT ZIP RECRUITER:</h2>
            <a href="">Open jobs at Accurate Diagnostic Labs</a>
            <div class="job_box">
                <h3>JOB OPENINGS:</h3>
                <p>We currently do not have any job openings.</p>
            </div>
            <a href="" class="a2">ZipRecruiter Jobs</a>
        </div>
        <div class="formdiv">
            <h1>APPLY BELOW</h1>
            <form action="">
                <div class="name">
                    <input type="text" placeholder="Name" class="sp" required>
                    <input type="text" placeholder="Lastname" class="sp" required>
                </div>
                <input type="email" placeholder="Email" required>
                <input type="number" placeholder="Mobile No" required>
                <div class="row">
                    <select name="" id="" class="sp" required>
                        <option value="" hidden>select the option</option>
                        <option value="">Histopathology</option>
                        <option value="">Cytopathology</option>
                        <option value="">Phlebotomist</option>
                        <option value="">IT Information Technology</option>
                        <option value="">Specimen Processing</option>
                        <option value="">Lab Aid</option>
                        <option value="">Laboratory Technologist (2nd, 3rd Shift)</option>
                        <option value="">Laboratory Technologist (Weekends)</option>
                        <option value="">Billing Representatives</option>
                        <option value="">customer Service Representatives</option>
                        <option value="">Billing Supervisor(S)</option>
                        <option value="">Sales Representative</option>
                    </select>
                    <input type="date" class="sps" required>
                </div>
                <textarea name="messa" id="" cols="30" rows="10" placeholder="Message" class="texta" required></textarea> 
                <div class="row">
                    <div class="fileup"> 
                        <button type="button" class="btn-warning">
                            <i class="fa-solid fa-upload"></i>Upload file
                            <input type="file" required>
                        </button>
                    </div>
                    <div class="g-recaptcha" data-sitekey="6Ldbdg0TAAAAAI7KAf72Q6uagbWzWecTeBWmrCpJ"></div>
                </div>
               <button type="submit">SUBMIT NOW</button>
            </form>
        </div>
        </div>
</div>
