<div class="container">
    <div class="topimg">
        <h1>CONTACT OUR CUSTOMER CARE TEAM</h1>
    </div>
    <div class="content">
       
            <div class="contact">
                <a class="to" href="tel:"><i class="fa-sharp fa-solid fa-phone"></i>9998989898</a>
            <a class="to" href="mailto:65465@gmail.com"><i class="fa-solid fa-envelope"></i>INFO@HERATECH.COM</a>
            </div>
            <hr>
            <h2 class="head">CONTACT OUR BILLING CUSTOMER CARE TEAM</h2>
            <p>Please call us at 732-839-0843 or fill our billing contact form to reach us</p>
            <form action="">
            <SELEct class="selection" required placeholder="bfvbfjbvjfb">
                <option value=""></option>
                <option hidden>How can We Help You</option>
                <option>Payment Related Question</option>
                <option>Request a copy of your invoice</option>
                <option>Financial Assistance Program</option>
                <option>Other Billing Question</option>
            </SELEct>
            <input type="text" id="invoice" name="invoice" placeholder="Invoice Number"  class="textbo1">
            <div class="name"><input type="fname" id="Name" name="Name" placeholder="First Name" class="textbo" required>
                <input type="lname" id="Name" name="Name" placeholder="Last Name"  class="textbo">      </div>      
            <input type="email" id="email" name="MAIL" placeholder="E-Mail Address"  class="textbo1" required>            
            <input type="email" id="email" name="MAIL" placeholder="Re-Enter E-Mail Address"  class="textbo1" required>           
            <input type="phone" id="phone" name="phone" placeholder="Phone Number"  class="textbo1" pattern="[0-9]{10}" maxlength="10" required>            
            <textarea name="messa" id="" cols="30" rows="10" placeholder="Message" class="texta" required></textarea>            
            <div class="g-recaptcha" data-sitekey="6Ldbdg0TAAAAAI7KAf72Q6uagbWzWecTeBWmrCpJ"><input type="submit" value="Submit Now" class="submit"></div>        
            
          </form>
    </div>
</div>