
*{
  text-decoration: none;
  display: block;
}
.topimg{
    background-image: url('/assets/images/SPECIALTIES_SERVICED/spec-13.jpg');
    width: 100%;
    height:30vh;
    background-position: center;
    position:relative;
   
}
.topimg h1{
    position:absolute;
    top: 25%;
left: 15%;
    color: white;
    font-size: 10mm;
}
.contact {
  margin: 5px 0px;
  display: flex;
}
.contact a{
  display: flex;
  padding: 5px 10px;
  color: #b8b8b8;
}
.contact i{
  padding: 5px;
}

.contact :hover{
  color:#039ABC;
}
  .content{
    width:55%;
    margin: 0px 20%;
  }
  .content h2{
    font-weight:bold;
    font-size: x-large;
    color: #0078ae;
    padding: 10px 0px;
  }
  .content p{
    color: #858585;
  }

  form input{
    margin:  10px 0px;
    display:block;
    width:96.2%;
    border:1px solid #8585858c;
    border-radius: 3px;
  }
  select{
    margin: 20px 0px ;
    width: 100%;
    border-radius: 3px;
    border:1px solid #8585858c;
  }
form .name{
  display: flex;
  width: 70%;
 
}
.name input{
  margin-right: 30px;
}
input,select{
  padding-right: 5px;
  padding: 10px 10px;
}
#invoice{
  width: 40%;
}
form .submit{
  width: 150px;
  border-radius: 50px;
  padding: 10px 15px;
  color:white;
  background-color:#0078AE;
  margin: 10px 0px;
  margin-left: 25px;
  cursor: pointer;
 
}
.texta{
  resize: none;
  padding: 15px;
  width:96%;
  height:80px;
  border-radius: 3px;
  border:1px solid #8585858c;
  
}

@media only screen and  (max-width: 790px){
  .contact  {
    display: block;
  }
}