<div class="container">
    <div class="topimg">
        <h1>INSURANCES</h1>
    </div>
   
    <div class="content">
        
        <div class="list">
            <div class="minpdf">
                <button class="button" id="toggleButton">
                    <h3>PDF FILE</h3>
                   <i class="fa-solid fa-chevron-down"></i>
                </button>
                <a href="../assets/Insurance-List-20190207.pdf" id="myDiv" ng-show="showDiv">
                <div class="mpdf">
                    
                <div class="pdfSize">
                    <i class="fa-regular fa-file-pdf "></i>
                    <a >InsuranceList <span>size : 1 Mb</span> </a>
                    <p></p>
                </div>
                <i class="fa fa-cloud-download"></i>
                </div></a>
            </div>
            <h1>ACCEPTED INSURANCES AND PROGRAM GUIDELINES</h1>
            <img src="../assets/images/insurance-list-1.png" alt="" >
        </div>
       
        <div class="pdf">
            <i class="fa-regular fa-file-pdf "></i>
            <a href="../assets/Insurance-List-20190207.pdf">
            <div class="pdfSize_">
            <span><a  >InsuranceList</a></span>
            <p>size : 1 Mb</p>
        </div></a>
        <i class="fa fa-cloud-download"></i>
        </div>
    </div>
        
</div>


<!-- <div class="con">
    <h1>ACCEPTED INSURANCES AND PROGRAM GUIDELINES</h1>
    <div class="pdfBlock">
        <i class="fa fa-file-pdf-o"></i>
        <div class="pdfSize">
            <span><a href="Insurance-List-20190207.pdf">InsuranceList</a></span>
            <p>size : 1 Mb</p>
        </div>
        <i class="fa fa-cloud-download"></i>
    </div>
</div>
<div class="img2">
    <img src="../assets/images/insurance-list-1.png" alt="">
</div> -->

<script src="../assets/js-file/base.js"></script>