<div class="continer">
    <div class="topimg">
        <h1>STAT MENU</h1>
    </div>
    <div class="content">
        <div class="blogContent">
            <div class="contentTitle normall">
                <h1 class="h2 as" >Stat Test Menu</h1>
                <p>Accurate Diagnostic Labs offers 4 hour STAT test turnarounds for our doctors' offices. STAT testing is available from  9 am to 5 pm, Monday-Friday. Accommodations may be made after 5 pm depending on courier availability and office location. Does your office have special testing needs? Call us, and we'll find a STAT testing solution that works with your office's needs.</p>
                <hr>
            </div>
            
        </div>
        <div class="contactsAdviceWrapper normall">
            <h1 class="h2 as"> Below is a list of our growing STAT testing menu:</h1>
                <div class="row" >
                       <div class="simple-article large light"style="color: white;">
                            <h3 class="h5 light" >Chemistry</h3>
                            <ul>
                                <li>Liver Profile</li>
                                <li>Renal Profile</li>
                                <li>CMP/BMP</li>
                                <li>Electrolytes</li>
                                <li>Glucose</li>
                                <li>BUN/Creatinine</li>
                                <li>Calcium</li>
                                <li>Glucose Tolerance</li>
                                <li>Gestational DM</li>
                                <li>CK &amp; CKMB</li>
                                <li>Troponin I</li> 
                                <li>Magnesium</li>
                                <li>Bilirubin Total/Direct</li>
                            </ul>
                        </div>
                        <div class="simple-article large light">
                            <h3 class="h5 light">Hematology<br>/Coagulation</h3>
                            <ul>
                                <li>CBC</li>
                                <li>PT/INR/aPTT</li>
                                <li>Platelet Count</li>
                                <li>Hemoglobin/Hematocrit</li>
                            </ul>
                        </div>
                        <div class="simple-article large light">
                            <h3 class="h5 light">Immunology</h3>
                            <ul>
                                <li>RPR</li>
                            </ul>
                            <h3 class="h5 light">Fertility/Pregnancy</h3>
                            <ul>
                                <li>Beta HCG</li>
                            </ul>
                        </div>
                        
                </div>
            <div class="emptySpace70 emptySpace-xs30"></div>
            <div class="contactsAdvice">
                <h1 class="as">WE'RE ON CALL ... WHEN YOU'RE ON CALL</h1>

            </div>
        </div>
    </div>
</div>
