<div class="continer">
    <div class="topimg">
        <h1>INSURANCES</h1>
    </div>
    <div class="content">
        <div class="detail">
            <img src="../assets/images/news-103.png" alt="">
            <a href="https://www.newswire.com/news/accurate-diagnostic-labs-continues-to-be-on-forefront-of-the-national-21135684" target="_blank"><h3>Accurate Diagnostic Labs Continues to Be on Forefront of the National 
                Fight Against COVID-19 and 
                Announces the Availability of Serological Antibody Testing This Week</h3></a>
            <p>As public health experts call for wider testing capacity in the United States, Accurate Diagnostic Laboratories will launch its immunoglobulin class G and M 
                (IgG /IgM) antibody testing this week to continue to help meet that need.</p>
            <a href="https://www.newswire.com/news/accurate-diagnostic-labs-continues-to-be-on-forefront-of-the-national-21135684" target="_blank"> READ MORE</a>
        </div>
        <div class="detail">
            <img src="../assets/images/globenewswire.png" alt="">
            <a href="https://www.economywatch.com/" target="_blank"><h3>EUA FDA Clears First Saliva Collection for Coronavirus COVID-19 (SARS-CoV-2), Made Possible by Collaborative Efforts of Accurate Diagnostic Labs and RUCDR Infinite Biologics at Rutgers University</h3></a>
            <p>The joint venture between Accurate Diagnostic Labs and RUCDR, utilizing the Spectrum Solutions’ DNA 1000 Saliva Collection Kit, will become the first Emergency Use Authorization (EUA) clearance from the FDA to allow for saliva testing.</p>
            <a href="https://www.economywatch.com/" target="_blank"> READ MORE</a>
        </div>
        <div class="detail">
            <img src="../assets/images/newswire2.png" alt="">
            <a href="https://www.prnewswire.com/news-releases/accurate-diagnostic-laboratories-and-rutgers-university-cell--dna-repository-lab-work-together-to-change-the-covid-19-testing-landscape-301036057.html" target="_blank"><h3>Accurate Diagnostic Laboratories and Rutgers University Cell & DNA Repository Lab Work Together to Change the COVID-19 Testing Landscape</h3></a>
            <p>Accurate Diagnostic Laboratories (ADL) and Rutgers University Cell & DNA Repository (RUCDR), through its Clinical Genomics Laboratory, are pleased to announce a joint mission aligning their efforts around improving testing capacity and service for the hospital inpatient population, health care providers and workers, first responders and patients.</p>
            <a href="https://www.prnewswire.com/news-releases/accurate-diagnostic-laboratories-and-rutgers-university-cell--dna-repository-lab-work-together-to-change-the-covid-19-testing-landscape-301036057.html" target="_blank"> READ MORE</a>
        </div>
    </div>
    
</div>
