<div class="container">
    <div class="topimg">
        <h1>PHYSICIAN & LABORATORY SERVICES</h1>
    </div>
    <div class="content">
        <div class="about">
            <h1><span>SPECIALTIES SERVICED</span></h1>
            <p>As a laboratory that offers a vast array of specialty specific tests we can tailor our test menu to fit the needs of your practice. We can customize your test order forms, your practice’s 
                reflex needs and integrate these into your EMR/EHR. Give us a call to set up an appointment with our highly skilled specialty trained sales representatives such that we can show your practice a 
                custom Accurate Lab workflow improvement strategy.</p>
        </div>
        <div class="servicelist">
            <h1>WE SERVICE YOUR SPECIALTY</h1>
            <div class="list">
                <ul>
                    <li class="row">Allergy & Immunology</li>
                    <li class="row">Cardiology</li>
                    <li class="row">Endocrinology</li>
                    <li class="row">Family Practice</li>
                
                </ul>
                <ul>
                    <li class="row">Gastroenterology</li>
                    <li class="row">Geriatrics</li>
                    <li class="row">Infectious Disease</li>
                    <li class="row">Internal Medicine</li>
                </ul>
                <ul>
                    <li class="row">Nephrology</li>
                    <li class="row">Neurology</li>
                    <li class="row">OBGYN</li>
                    <li class="row">Oncology & Hematology</li>
                </ul>
                <ul>
                    <li class="row">Pediatrics</li>
                    <li class="row">Pulmonology</li>
                    <li class="row">Pulmonology</li>
                    <li class="row">Urology</li>
                </ul>

            </div>

        </div>
        <div class="servicelists">
            <div class="feature">
                <img src="../assets/images/SPECIALTIES_SERVICED/spec-1.jpg" alt="">
                <h3>ALLERGY & IMMUNOLOGY</h3>
            </div>
            <div class="feature">
                <img src="../assets/images/SPECIALTIES_SERVICED/spec-2.jpg" alt="">
               <h3>CARDIOLOGY</h3>
            </div>
            <div class="feature">
                <img src="../assets/images/SPECIALTIES_SERVICED/spec-17.jpg" alt="">
                <h3>ENDOCRINOLOGY</h3>
            </div>
            <div class="feature">
                <img src="../assets/images/SPECIALTIES_SERVICED/spec-4.jpg" alt="">
                <h3>FAMILY PRACTICE</h3>
            </div>
            <div class="feature">
                <img src="../assets/images/SPECIALTIES_SERVICED/spec-5.jpg" alt="">
                <h3>GASTROENTEROLOGY</h3>
            </div>
            <div class="feature">
                <img src="../assets/images/SPECIALTIES_SERVICED/spec-6.jpg" alt="">
                <h3>GERIATRICS</h3>
            </div>
            <div class="feature">
                <img src="../assets/images/SPECIALTIES_SERVICED/spec-7.jpg" alt="">
                <h3>INFECTIOUS DISEASE</h3>
            </div>
            <div class="feature">
                <img src="../assets/images/SPECIALTIES_SERVICED/spec-8.jpg" alt="">
                <h3>INTERNAL MEDICINE</h3>
            </div>
            <div class="feature">
                <img src="../assets/images/SPECIALTIES_SERVICED/spec-9.jpg" alt="">
                <h3>NEPHROLOGY</h3>
            </div>
            <div class="feature">
                <img src="../assets/images/SPECIALTIES_SERVICED/spec-10.jpg" alt="">
                <h3>NEUROLOGY</h3>
            </div>
            <div class="feature">
                <img src="../assets/images/SPECIALTIES_SERVICED/spec-11.jpg" alt="">
               <h3>OBGYN</h3>
            </div>
            <div class="feature">
                <img src="../assets/images/SPECIALTIES_SERVICED/spec-12.jpg" alt="">
                <h3>ONCOLOGY & HEMATOLOGY</h3>
            </div>
            <div class="feature">
                <img src="../assets/images/SPECIALTIES_SERVICED/spec-13.jpg" alt="">
                <h3>PEDIATRICS</h3>
            </div>
            <div class="feature">
                <img src="../assets/images/SPECIALTIES_SERVICED/spec-14.jpg" alt="">
                <h3>PULMONOLOGY</h3>
            </div>
            <div class="feature">
                <img src="../assets/images/SPECIALTIES_SERVICED/spec-15.jpg" alt="">
                <h3>RHEUMATOLOGY</h3>
            </div>
            <div class="feature">
                <img src="../assets/images/SPECIALTIES_SERVICED/spec-16.jpg" alt="">
                <h3>UROLOGY</h3>
            </div>

        </div>
    </div>
</div>