<!-- <section class="timeline-area"> -->
    <div class="containers">
        <div class="topimg">
            <h1>OUR PATIENT SERVICE CENTERS</h1>
        </div>
        <div class="main">
          <h3 class="heading">Our Location</h3>
         <div class="container">
          <ul class="mainlist">
              <li class="sublist">
                  <h3 class="title">
                    Edgewater Patient Service Center</h3>
                  <div class="subcontent">
                    <a href="https://www.google.co.in/maps/place/Naturals+Salon+%26+Spa,+Rajapalayam/@9.4591671,77.5546048,17z/data=!3m1!4b1!4m6
                    !3m5!1s0x3b06e9c95c72ede9:0xf7bd02b20316500f!8m2!3d9.4591671!4d77.5567935!16s%2Fg%2F11rtvwhc_d?hl=en-GB" target="_blank"><img src="./assets/images/heramaplocation.png" alt=""></a>
                    <ul>
                      <li>No : 180 D2,Npr Complex Cotton Market, Tenkasi Rd, opposite to Mks Petrol Bank, Rajapalayam, Tamil Nadu 626117</li>
                      <li> <span>Phone: </span>732-839-0847</li>
                      <li><span> Fax: </span>201-282-4315</li>
                      <li> <span>Monday - Friday: </span>8:00am - 3:00pm</li>
                    </ul>
                  </div>
                  <p><span>COVID Saliva</span> Collection is <span>NOW AVAILABLE</span> Monday - Friday: 11:00am - 3:00pm</p>
                  <p>*** You must have a Physician’s order to have test performed***</p>
                      <a href="https://www.google.co.in/maps/place/Naturals+Salon+%26+Spa,+Rajapalayam/@9.4591671,77.5546048,17z/data=!3m1!4b1!4m6
                      !3m5!1s0x3b06e9c95c72ede9:0xf7bd02b20316500f!8m2!3d9.4591671!4d77.5567935!16s%2Fg%2F11rtvwhc_d?hl=en-GB" target="_blank">read More</a>
                      <span class="circle"></span>
                      <span class="date">Rajapalayam,TN</span>
              </li>
              <!-- <li class="sublist">
                  <h3 class="title">
                    Wantage Patient Service Center</h3>
                    <div class="subcontent">
                      <img src="" alt="">
                      <ul>
                        <li>199 State Route 284, 2nd Floor, Wantage, NJ 07461</li>
                        <li>Phone: 732-839-0851</li>
                        <li>Fax: 973-875-0621</li>
                        <li> <span>Monday - Friday: 8:00am - 4:00pm</span></li>
                        
                      </ul>
                    </div>
                    <p><span>COVID Saliva</span> Collection is <span>NOW AVAILABLE</span> Monday - Friday: 11:00am - 3:00pm</p>
                    <p>*** You must have a Physician’s order to have test performed***</p>
                      <a href="#">read More</a>
                      <span class="circle"></span>
                      <span class="date">january 2022</span>
              </li>
              <li class="sublist">
                  <h3 class="title">
                    Bloomfield Patient Service Center</h3>
                  <div class="subcontent">
                    <img src="" alt="">
                    <ul>
                      <li>350 Bloomfield Ave Bloomfield, Suite #102, NJ 07003</li>
                      <li>Phone: 732-839-3310</li>
                      <li>Fax: 862-333-4341</li>
                      <li> <span>Monday - Friday: 8:00am - 4:00pm</span></li>
                      <li><span>Saturday: 8:00am - 12:00pm</span></li>
                    </ul>
                  </div>
                  <p><span>COVID Saliva</span> Collection is <span>NOW AVAILABLE</span> Monday - Friday: 11:00am - 3:00pm</p>
                  <p>*** You must have a Physician’s order to have test performed***</p>
                      <a href="#">read More</a>
                      <span class="circle"></span>
                      <span class="date">january 2022</span>
              </li>
              <li class="sublist">
                  <h3 class="title">ey
                    Belleville Patient Service Center</h3>
                  <div class="subcontent">
                    <img src="" alt="">
                    <ul>
                      <li>246 Washington Ave, Suite 202, Belleville, NJ 07109</li>
                      <li>Phone: 732-839-3328</li>
                      <li>Fax: 973-759-5482</li>
                      <li> <span>Monday - Friday: 8:00am - 4:00pm</span></li>
                      <li><span>Saturday: 8:00am - 12:00pm</span></li>
                    </ul>
                  </div>
                  <p><span>COVID Saliva</span> Collection is <span>NOW AVAILABLE</span> Monday - Friday: 11:00am - 3:00pm</p>
                  <p>*** You must have a Physician’s order to have test performed***</p>
                      <a href="#">read More</a>
                      <span class="circle"></span>
                      <span class="date">january 2022</span>
              </li> -->
          </ul>
         </div> 
      </div>
        </div>

<!-- </section>    -->
