<div class="container">
    <div class="topimg">
        <h1>TEST DIRECTORY</h1>
    </div>
    <div class="content">
        <div class="pdf">
            <div class="pdftitle"><h1>Comprehensive Test Directory</h1></div>
            <a href="../assets/Insurance-List-20190207.pdf"><div class="minpdf">
                <div class="mpdf">                    
                <div class="pdfSize">
                    <i class="fa-regular fa-file-pdf "></i>
                    <h3>PDF FILE</h3>
                        <P>size : 2.1Mb</P>
                    
                </div>
                <i class="fa fa-cloud-download"></i>
                </div>
            </div></a>
        </div>
        <div class="serchT"><h1>Search Tool</h1></div>
        <div class="tools">
            <div class="selecttool">
                <label for="">Serach in</label>
                <select name="" id="">
                    <option value="">All Fields</option>
                    <option value="">Test Nmae</option>
                    <option value="">Test Code</option>
                    <option value="">CPT</option>
                    <option value="">Specimen Requirement</option>
                    <option value="">Specimen Type</option>
                    <option value="">Test Includes</option>
                </select>
                <select name="" id="">
                    <option value="">Contains</option>
                    <option value="">Is Equal</option>
                </select>
            </div>
            <div class="tserch">
                <form action="">
                    <input type="serch" placeholder="Enter a Text to Search" required>
                <br>
                <input type="submit" value="search" class="button">
                </form>
            </div>
        </div>
    </div>
</div>